:root {
    --ax-sidenav-width: 18rem;
}

.nav {
    max-width: unset;
}

.h1 {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-weight: bold;
}

header:not(.header) {
    padding: 0 !important;
}

.main {
    max-width: unset;
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer {
    max-width: unset;
    justify-content: center;
}

.scrollspy a.active {
    color: #000;
    border-left: solid;
    border-color: #000;
}

body {
    &.dark {
        .sidenav {
            background-color: #1d1e20;
            color: #fff;
        }

        .scrollspy a.active {
            color: #fff;
            border-color: #fff;
        }

        .post-entry {
            background-color: #2e2e33;
            color: #fff;
        }
    }
}

.entry-content {
    font-size: 16px;
}