:root {
    --ax-sidenav-width: 10rem;
    --primary-color: {{ .Site.Params.color }};
}

@media (min-width: 1025px) {
    :root {
        --ax-sidenav-width: 16rem;
    }
}



.nav {
    max-width: unset;
}

header:not(.header) {
    padding: 0 !important;
}

.entry-content {
    font-size: 1rem;
}

// Next and Previous buttons
.page-footer {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.footer {
    max-width: unset;
    justify-content: center;
}

.scrollspy a.active {
    color: #000;
    border-left: solid;
    border-color: var(--primary-color);
}

body {
    &.dark {
        .sidenav {
            background-color: #1d1e20;
            color: #fff;
        }

        .scrollspy a.active {
            color: #fff;
        }

        .post-entry {
            background-color: #2e2e33;
            color: #fff;
        }
    }
}



/* Line effect on cards */
.post-entry:after {
    content: "";
    height: 30%;
    width: 1px;
    position: absolute;
    left: 0px;
    transition: top, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--primary-color), transparent);
}

.post-entry:after {
    top: 65%;
    opacity: 0;
}

.post-entry:hover:after {
    top: 35%;
    opacity: 1;
}


/* Sidenav */
.sidenav .sidenav-header {
    min-height: 0;
    padding: 0;
}

.sidenav-header:before,
.sidenav-header:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
}

.sidenav-header:before {
    height: 1px;
    width: 50px;
    translate: -20px -1rem;
}

.sidenav-header:after {
    height: 2px;
    width: 30px;
    translate: 26px calc(-1rem - 0.5px);
}



/* Hide scrollbar */
#wstg_map-viewer::-webkit-scrollbar {
    // Chrome, Safari and Opera
    display: none;
}

// Hide scrollbar for IE, Edge and Firefox
#wstg_map-viewer {
    // IE and Edge
    -ms-overflow-style: none;
    // Firefox
    scrollbar-width: none;
}