:root {
    --ax-sidenav-width: 18rem;
    --primary-color: {{ .Site.Params.color }};
}

.nav {
    max-width: unset;
}

.h1 {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-weight: bold;
}

header:not(.header) {
    padding: 0 !important;
}

.main {
    max-width: unset;
}

// Next and Previous buttons
.page-footer {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.footer {
    max-width: unset;
    justify-content: center;
}

.scrollspy a.active {
    color: #000;
    border-left: solid;
    border-color: var(--primary-color);
}

body {
    &.dark {
        .sidenav {
            background-color: #1d1e20;
            color: #fff;
        }

        .scrollspy a.active {
            color: #fff;
        }

        .post-entry {
            background-color: #2e2e33;
            color: #fff;
        }
    }
}

.entry-content {
    font-size: 1rem;
}


.post-entry:after {
    content: "";
    height: 30%;
    width: 1px;
    position: absolute;
    left: 0px;
    transition: top, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--primary-color), transparent);
}

.post-entry:after {
    top: 65%;
    opacity: 0;
}

.post-entry:hover:after {
    top: 35%;
    opacity: 1;
}


.sidenav-header:before,
.sidenav-header:after {
    content: "";
    position: absolute;
    top: 88%;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.sidenav-header:before {
    height: 1px;
    width: 50px;
    translate: -20px -1rem;
}

.sidenav-header:after {
    height: 2px;
    width: 30px;
    translate: 26px calc(-1rem - 0.5px);
}


/* Hide scrollbar for Chrome, Safari and Opera */
#wstg_map-viewer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#wstg_map-viewer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}